.top-bar, .top-bar ul{
  background-color: $nav-background;
}
.top-bar{
   .menu-text{
     color : $nav-text-color;
    }
    .menu > .menu-text a {
        display: inline;
        padding : 0;
    }
    .menu > li a{
      color : #e74c3c;
    }
    .active-link{
      font-weight: bold;
      color : #c0392b;
      background-color:  #c0392b;
    }
}
